# Copyright (c) 2021 The ZMK Contributors 
# SPDX-License-Identifier: MIT 

if SHIELD_BABYVBLE

config ZMK_KEYBOARD_NAME
	default "BabyvBle"

endif

CONFIG_ZMK_RGB_UNDERGLOW=y
# Use the STRIP config specific to the LEDs you're using
CONFIG_WS2812_STRIP=y