# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_J46KXIAO_LEFT

config ZMK_KEYBOARD_NAME
	default "J46K-Xiao"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_J46KXIAO_LEFT || SHIELD_J46KXIAO_RIGHT

config ZMK_SPLIT
	default y

endif
